[Unit]
Description=run autoplex approximately every minute
Requires=autoplex.service

[Timer]
Unit=autoplex.service
OnUnitActiveSec=1m
AccuracySec=30s

[Install]
WantedBy=timers.target
